html {
    font-size: 62.5%;
    background-color:blueviolet;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    height: 5rem;
    width: 20%;
    border-style: dotted;
    position: relative;
    left: 40%;
    top:5rem;
    margin-bottom: 10rem;
    border-color: greenyellow;
    color: lawngreen;
    font-size: 4rem;
    text-align: center;
    font-family: monospace;
}

.container {
    display: flex;
    width: 100%;
    height: fit-content;  
    align-content: space-between;
    justify-content: space-around;   
    padding-left: 5%;
    padding-right: 5%;      
}
.container2 {
    display: flex;
    width: 100%;
    height: fit-content;  
    align-content: space-between;
    justify-content: space-around;   
    padding-left: 5%;
    padding-right: 5%; 
    margin-top: 5%;     
}

.container img{
    width:10%;
}

.container2 img{
    width:20%;
}