html {
    font-size: 62.5%;
    background-color:blueviolet;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: fit-content;  
    align-content: space-between;
    justify-content: space-around;   
    padding-left: 5%;
    padding-right: 5%;      
}

.container img{
    width:10%;
}